@model  IEnumerable<TeacherStudentConnect.Models.Admin>

@{
    ViewBag.Title = "AdminRequest";
}

<h2 class="text-center">Admin Request</h2>

<div>
    <hr />

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfBirth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.AdminProfileStatus)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfBirth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContactNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.AdminProfileStatus)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.AdminId })
                        @* |@Html.ActionLink("Details", "Details", new { id=item.AdminId }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.AdminId })*@
                    </td>
                </tr>
            }

        </table>



</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AdminId }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
