@model TeacherStudentConnect.ViewModels.SuperAdminLoginViewModel

@{
    ViewBag.Title = "Super Login";
}

<h2 class="text-center">@ViewBag.Title.</h2>
<center><img class="img-responsive" src="~/UIPictures/superlogin.png" width="80" height="80" /></center>
<div>
    <p class="text-danger text-center"> @ViewBag.LoginError</p>
    @*<p> @ViewBag.Exception</p>*@
</div>
<div class="col">
    <div class="col-md-offset-3">

        <section id="loginForm">
            @using (Html.BeginForm("SuperLogin", "SuperAdmin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.SuperAdminId, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.SuperAdminId, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SuperAdminId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-primary" />
                    </div>
                </div>
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

